html{
    margin: 0;
    padding: 0;
}

#fondo{
    height: 120%;
    width: 100%;
}

main{
    margin: 10%;
    width: 80%;
    height: 300px;
}

main::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 5px;
    background: black;
    height: 80%;
}
.años{
    position: relative;
    font-size: 52px;

    cursor: pointer;
    
}
.años-after{
    transition: font-size 1.5s;
    position: relative;
    font-size: 32px;
    cursor: pointer;
}
.circulo{
    content: '';
    position: absolute;
    left: 35%;
    bottom: 12px;
    width: 15px;
    height: 15px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    opacity: 0;
    transition: opacity 5s ease-out;
}

.circulo span{
    position: absolute;
    border-radius: 50%;
    animation: radar 2s linear infinite;
}

.circulo span:nth-child(1){
    animation-delay: 0.5s;
}

.circulo span:nth-child(2){
    animation-delay: 1s;
}

.circulo span:nth-child(3){
    animation-delay: 1.5s;
}

@keyframes radar{
    0%{
        width: 0;
        height: 0;
        border: 4px solid blueviolet;
        box-shadow: inset 0 0 10px blueviolet 0.8;
    }
    100%{
        width: 25px;
        height: 25px;
    }
}

section{
    position: relative;
    width: 50%;
    height: 120%;
}

.section:nth-child(odd){
    position: relative;
    float: left;
   
}

.section:nth-child(even){
    position: relative;
    float: right;
    text-align: right;
    overflow:hidden;
    top: 60px;
    
}
.barra{
  width: 0%;
}
.barra-activa{
    content: '';
    position: absolute;
    transition: width 1s ease-in-out;
    width: 50%;
    height: 5px;
    background-color: black;
    right: 0;
    bottom: 85%;
}

.english{
    display: none;
}

.hidden{
    display: none;
   
}



.right{
    left: -0%;
}

.right-circulo{
    left: 65%;
}

.text{
    position: relative;
    width: 90%;
    font-size: 18px;
    left: 5%;
    opacity: 0;
    transition: opacity 2s ease-out;
    display: block;
}

.opacity{
    opacity: 1;
}



