html{
  margin: 0;
  padding: 0;
}


main{
  display: flex;
  flex-direction: row;
  margin: 10% 15%;
}
.section{
  position: relative;
  width: 25%;
  height: 50vh;
  border-right: solid black;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconos {
  position: absolute;
  width: 100px;
  
  
  animation-duration: 1s;
  opacity: 1;
  transition: opacity 1s;
  z-index: 1;
  
}
.iconos:hover{
  opacity: 0.2;
  transform: scale(0.7);
  transition: 1s;
}

#iconos-audio{
  top: 190px;
}

.texto{
  position: absolute;
  
  width: 80%;
  
  opacity: 0;
  transition: opacity 1s;
}
.iconos:hover + .texto{
  opacity: 1;
  transform: scale(1.1);
  transition: 1s;
}

.headers{
  text-align: center;
}
.parrafo{
  
  text-align: justify;
  font-size: 20px;
  width: 90%;
  margin: 10px;
  cursor:default;
}
#web{
  border-right: none;
}