html{
  margin: 0;
  padding: 0;
}


main{
  display: flex;
  flex-direction: row;
  margin: 10% 15%;
}
.section{
  position: relative;
  width: 25%;
  height: 50vh;
  border-right: solid black;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconos {
  position: absolute;
  width: 100px;
  cursor: pointer;
  
  animation-duration: 1s;
  opacity: 1;
  transition: opacity 1s;
  z-index: 1;
  
}
.iconos:hover{
  opacity: 0.2;
  transform: scale(0.7);
  transition: 1s;
}

#bio em{
  color: rgb(34, 9, 82);
  font-size: 95px;
}

.texto{
  position: absolute;
  
  width: 80%;
  
  opacity: 0;
  transition: opacity 1s;
}
.iconos:hover + .texto{
  opacity: 1;
  transform: scale(1.1);
  transition: 1s;
}

.headers{
  text-align: center;
}
.parrafo{
  
  text-align: justify;
  font-size: 20px;
  width: 90%;
  margin: 10px;
  cursor:default;
}
#web{
  border-right: none;
}

@media (min-width:1500px){
  .parrafo{
    font-size: 28px;
  }

  .iconos{
    width: 150px;
  }
  #bio em{
    font-size: 150px;
  }
}
@media (max-width: 700px){
  main{
    flex-direction: column;
  }
  .section{
    border-right: none;
    width: 80%;
    height: 30vh;
    padding: 30px;
    
  }
  .iconos:hover{
    opacity: 1;
    transform: none;
    transition: none;
  }
}