html{
    width: 80vw;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url("/Portfolio/Images/CollagePortfolio.png");
    position: absolute;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

#fondo{
    position: absolute;
    height: 100%;
    width: 100%;
    
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(56,110,215,1) 100%);
    opacity: 0.95;
  }

nav{
    position: relative;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

nav button{
    position: relative;
    background-color: transparent;
    border: none;
    width: 40px;
    cursor: pointer;
    height: 40px;
}
nav .fa{
    position: relative;
    font-size: 32px;
}

.hidden{
    display: none;
}



.selected-lang{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 100px;
}

.selected-lang:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
}

.selected-lang[data-lang='es']::before{
    background-image: url(https://www.countryflags.io/es/flat/32.png);
}
.selected-lang[data-lang='en']::before{
    background-image: url(https://www.countryflags.io/gb/flat/32.png);
}
.lang-menu{
    position: relative;
}

.lang-menu .option-container{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 1px solid transparent;
    display: none;
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang-menu:hover  .option-container{
    display: block;
}



.lang-menu .option-container:hover{
    background-color: lightblue;
}

.lang-menu .option-container:before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    
}

.lang-menu .option-container[data-lang='en']::before{
    background-image: url(https://www.countryflags.io/gb/flat/32.png);
}
.lang-menu .option-container[data-lang='es']::before{
    background-image: url(https://www.countryflags.io/es/flat/32.png);
}

.titulo-principal{
    position: relative;
    left: 15%;
    font-size: 58px;
    width: 50%;
}

.english{
    display: none;
}