

.modal{
    
    position: fixed;
    background:  rgba(22, 3, 3);
    top: 18vh;
    z-index: 15;
    width: 25vw;
    padding: 3%;
    transition: left 1s ease-out;
    left: -35%;
    height: 50vh;
    color: white;
    border: solid rgba(85, 84, 9, 0.8);
    border-left: none;
}


.modal-content{
    top: 0;
    position: relative;
    height: 100%;
}
.modal-content h3{
    text-decoration: underline;
    font-size: 30px;
    margin: 0;
}
#close-modal{
    position: relative;
    float: right;
    bottom: 4vh;
    font-size: 2vw;
    cursor: pointer;
}

#modal-contacto{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    top: 4vh;
    margin: 5% 0;
}

.modal-iconos{
    position: relative;
    width: 100%;
    font-size: 1.7vw;
    margin: 5% 0;
}

.modal-iconos a{
    position: relative;
    left: 4vw;
    text-decoration-line: none;
    font-size: 100%;
}

.modal-iconos p{
    position: relative;
    left: 5%;
    display: inline;
  
}

/*
@media (min-width: 1500px){
    .modal-iconos{
        font-size: 28px;
    }
}

@media(max-width: 1200px){
    .modal-content h3{
        margin: 0;
    }
    .modal-iconos{
        font-size: 16px;
    }
}