

.modal{
    
    position: fixed;
    background:  rgba(22, 3, 3);
    
    z-index: 15;
    width: 350px;
    
    transition: left 1s ease-out;
    left: -35%;
    height: 450px;
    color: white;
    border: solid rgba(85, 84, 9, 0.8);
    border-left: none;
}


.modal-content{
    margin: 15%;
    
}
.modal-content h3{
    text-decoration: underline;
    font-size: 30px;
}
#close-modal{
    position: relative;
    left: 100%;
    bottom: 60px;
    font-size: 28px;
    cursor: pointer;
}

#modal-contact{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.modal-iconos{
    font-size: 20px;
}

.modal-iconos a{
    position: relative;
    left: 30%;
    
}